body{
	
	background-image: linear-gradient(to right,#111,#333);
	padding: 0;
	margin: 0;
}
.user_data_div{
	position: absolute;
	padding-left:5%;
	padding-right: 5%;
	padding-top: 3%;
	padding-bottom: 5%; 
	margin-left:40%;
	margin-top: 20%;
	border-radius: 2px;
	border:1px solid black;
}